* linguist-vendored
*.js linguist-vendored=false
*.ts linguist-vendored=false
*.tsx linguist-vendored=false
*.scss linguist-vendored=false
*.tsx linguist-language=TypeScript
src/fonts/* linguist-vendored=true
