h3 {
  font-size: 1.5em;
}

.card_button {
  border-radius: 0;
  border-color: #666;
  border-width: 2px;
  font-size: 1.2rem;
  color: #666;
  background-color: transparent;

  &:hover {
    border-image-source: linear-gradient(
      90deg,
      rgba(102, 153, 255, 1) 0%,
      rgba(0, 136, 136, 1) 100%
    );
    border-image-slice: 1;
    background-color: transparent;
    color: #000;
    font-size: 1.2rem;
    text-decoration: none;
  }
}

.card_container {
  background-color: #fff;
  font-size: 1.3em;
  padding: 1.5em 1.5em;
  color: #333;
  text-align: left;
  margin: 0 1em;
  width: 13em;
  height: 17em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 5px solid;
  border-image-source: linear-gradient(
    90deg,
    rgba(102, 153, 255, 1) 0%,
    rgba(0, 136, 136, 1) 100%
  );
  border-image-slice: 60;
  box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.15);
}
