.logoImg {
  position: relative;
  top: -2px;
  padding-right: 0.4em;
}

.inner {
  max-width: 60em;
  margin: auto;
}

.outer {
  background-color: #fff;
}

.navbar {
  min-height: 4em;
}

.navlink {
  display: block;
  position: relative;
  padding: 0.3em !important;
  text-decoration: none;
  text-align: center;
  color: #777;
  min-width: 90px;

  &:hover,
  &:focus {
    color: #212529;
    text-decoration: none;
  }
}

.brand:hover {
  cursor: pointer;
}
