.wrapper {
  background-color: #fff;
  border: 5px solid;
  border-image-source: linear-gradient(
    90deg,
    rgba(102, 153, 255, 1) 0%,
    rgba(0, 136, 136, 1) 100%
  );
  border-image-slice: 60;
  padding: 4.5em 0;
  margin-top: 6em;
  margin-left: auto;
  margin-right: auto;
  width: 40em;
  box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.15);
  border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
}

.user_info {
  margin: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}

.credentials {
  align-content: center;
  padding-left: 2em;
}

.name {
  font-size: 1.8em;
  margin-bottom: 0.2em;
}
